
.model{
    max-width: 33%;
    width:100%;
    position: absolute;
    top:150px;
    left:440px;
    padding:22px;
    border-radius:10px;
    border:1px solid lightgray;
    background-color: rgb(255, 255, 255);
}

.profile{
    margin-top:-10px;
    position: relative;
    direction: rtl;
}
    .profile h2{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    .profile p {
        font-size:25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .profile ol{
        margin-right:-18px;
        margin-top:-18px;
    }
        .profile ol li{
        font-size:20px;
        font-family: Arial, Helvetica, sans-serif;
        }
    .profile h3{
        font-size:22px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:red;
    }

#btn , #btn1{
    margin-right:5px;
    border-radius: 14px;
    padding:4px 16px;
    font-size:16px;
    color: white ;
}
    #btn{
        float: right;
        margin-right: 10px;
        
    }
        #btn a{
            color:white;
            text-decoration: none;
        }
    #btn1{
        margin-left:25px;
        background-color: rgba(20, 139, 20, 0.897);
        
    }
        #btn1:hover{
            background-color:rgba(20, 139, 20, 0.697);
        }

@media screen and (max-width:760px) {
    
    .model{
        max-width: 90%;
        width:100%;
        position: absolute;
        top:150px;
        left:20px;
        padding:22px;
        border-radius:10px;
        border:1px solid lightgray;
        background-color: rgb(255, 255, 255);
    }
   
    .profile{
        margin-top:-10px;
        position: relative;
    }
}